
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  html,
  body {
    /*background-color: aliceblue; */
    font-family: "New Tegomin", serif;
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-rendering: optimizeLegibility;
  }
  
  #myVideo {
      position: fixed;
      right: 0;
      bottom: 0;
      width: 100vw;
      height: auto;
      object-fit: cover;
      z-index: -1;
  
    }
  
/* Heading*/
h1 {
  font-size: 50px;
}

/* Main */
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 1140px;
  margin: 0 auto;
}

/* Task Input */
.task-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 15px 15px 30px 15px;
}














































